/* CSS Document */
  html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body {
	color: #000;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background: #f2f7f1 url(../px/bg.png) repeat scroll;
	text-align: center;
}
#carrier {
	width: 720px;
	margin: auto;
	padding:0px;
	background: #fff;
	text-align:center;
	overflow:hidden;
	border-left: solid 2px #f2f7f1;
	border-right: solid 2px #f2f7f1;
}
#f-carrier {
	width: 770px;
	margin: auto;
	padding:0px;
	background: #fff;
	text-align:center;
	overflow:hidden;
	border-left: solid 2px #f2f7f1;
	border-right: solid 2px #f2f7f1;
}

#header {
	height:80;
	margin: 0px;
	padding: 0px;
	background: #693 url(../px/site-header-flight.jpg) no-repeat scroll;
	overflow:hidden;
}
#crumbs {
	width:600px;
	padding:20px;
	margin-left:10px;
	text-align:left;
	color:fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:600;
	overflow:hidden;
}
#crumbs a {
	color: #ffc;
}
#crumbs a:visited {
	color: #dadada;
}
#crumbs a:hover, #header a:active {
	color: #fff;
}
img {
	border:0px;
	font-size:80%;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
}

#header img {
	float:left;
	width: 77px;
	height: 69px;
	display: inline;
}
#back {
margin:20px 0px 20px 0px;
text-align:center;
}

.text {
	font-size:0.8em;
	text-align:justify;
	padding-right:10px;
	padding-bottom:0px;
}
.text p {
	margin-top: 0px;
}
.text a, .tut a {
	color: #09c;
}
.text a:visited, .tut a:visited {
	color: #666;
}
.text a:hover, .tut a:hover {
	color: #f00;
}

.tut {
	width:700;
	clear:both;
	font-size:0.8em;
	text-align:justify;
	padding:20px 10px 20px 20px;
}

#arrows {
	text-align:center;
	margin:40px 0px 30px -50px;
}

  	.ital {
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	font-size:1.1em;
	}

.aster {
	color:#c03;
}

.book {
	clear:both;
}

h1 {
	color:#999;
	font-size:20px;
	margin-top:0px;
	white-space:nowrap;
	overflow:visible;
	text-align:center;
}

  #a-menucarrier {
	height: 26px;
	margin:0 auto;
	margin-bottom: 6px;
	position:relative;  
	text-align:left;   
	top: -23px;
	left: 90px;
	font-size: 9px;
	font-weight: 600;
	text-transform:uppercase;
	overflow:hidden;
}
.e-menucarrier {
	width: 520px;
	height: 26px;
	margin:0 auto;
	margin-bottom: 0px;
	position:relative;  
	text-align:left;   
	top: -23px;
	left:10px;
	font-size: 9px;
	text-transform:uppercase;
	overflow:hidden;
}


#a-menucarrier UL {
	list-style: none;			
	margin: 0px;				
	padding: 0px;				
	font-weight: 600;
	position:relative;
	left:8px;
	white-space:nowrap;
}
#a-menucarrier UL LI {
	position: relative;		
  float: left;			
	padding: 6px 0px;		
	margin-right: 0px;	
	border-left: solid 1px #696;
}

#a-menucarrier LI A {
	padding: 6px;		
	padding-left: 7px;		
	padding-right: 7px;
	margin-left: 0px;
	text-decoration: none;	
	color: #ccc;			
}

#a-menucarrier LI A:visited {
	color: #9c9;	
}
#a-menucarrier LI A:hover {
	color: #fff;	
	background-color: #696;	
}


#a-menucarrier #frst {
	border-left: none;
}

#sps li {
	clear:both;
	border-left: none;
	list-style-type:circle;
	overflow:visible;
}
.justlist li {
	clear:both;
	border-left: none;
	overflow:visible;
	font-weight:400;
	white-space:normal;
	list-style-type:square;
	list-style-position:inside;
}
.justtable {
width:98%;
font-size:0.8em;
margin:6px 10px 30px 12px;
border-collapse:separate;
border-top:solid 1px #ececec;
border-left:solid 1px #ececec;
}
.justtable td {
padding:4px 5px 4px 10px;
border:solid 1px #ccc;
}
.justtable th {
padding:6px 12px 6px 4px;
color:#666;
border:solid 1px #ccc;
}
.justtable a {
	color: #09c;
}
.justtable a {
	color: #09c;
	text-decoration:none;
}
.justtable a:visited {
	color: #666;
}
.justtable a:hover {
	color: #f00;
}
.justtable #odd {
background:#f7f7f7;
}


#sps a:link, #sps a:visited {
	color:#666;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	font-weight:600;
	font-size:1.2em;
	text-decoration:underline;
}
#sps a:hover, #sps a:active {
	color:#333;
	background-color:#f2f7f1;
}
.overview {
	font-size:1.1em;
	font-weight:600
}



#under {
	padding: 12px 0px 12px 0px;
	border-top: solid 3px #ccc;
}

  #footer {
	color:#ccc;
	font-weight:600;
	width: 98%;
	clear: both;
	font-size: 60%;
	white-space:nowrap;
	background: #693;
	padding:6px 6px 10px 6px;
	overflow:hidden;
}
#footer a {
	color:#fff;
	text-decoration:none;
}
#footer a:visited {
	color:#ccc;
}
#footer a:hover, #footer a:active {
	color:#fff;
	text-decoration:underline;
}